.form-senha-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.form-senha-email h2 {
  color: black;
}

.form-senha-email button {
  margin: 5px 0;
}

.form-senha-button {
  border-radius: 3px;
  height: 30px;
  width: 70px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  border: none;
}

.form-senha-button:hover {
  background: #d3d3d3;
}

.form-senha-email label {
  margin-right: 10px;
}
