.form-senha-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.form-senha-email h2 {
  color: black;
}

.form-senha-email button {
  margin: 5px 0;
}
