.form-box .input-wrapper label{
  display: flex;
  flex-direction: column;
  min-width: 350px;
  color: white;
  pointer-events: none;
  transition: .5s;
  font-size: 16px;
  padding: 10px 0;

}

.form-box .input-wrapper input {
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}

.form-box .input-wrapper input:focus ~ label,
.form-box .input-wrapper input:valid ~ label {
  color: #03e9f4;
  font-size: 12px;
}

